@import '../variables';

.footer {
    background-color: $PrimaryBlue100;
    padding-top: 77px;
    padding-bottom: 40px;


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
        padding-right: 170px;

    }

    &__item {
        display: flex;
        justify-content: space-between;

        &__text {
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            line-height: 120%;
            max-width: 570px;
        }

        &__logo {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            line-height: 170%;
        }

        &__form {
            display: flex;
            flex-direction: column;

            input {
                background-color: $PrimaryBlue100;
                border: 1px solid #fff;
                width: 320px;
                height: 50px;
                padding: 12px 15px;
                margin-bottom: 20px;

                &::placeholder {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 160%;
                }
            }

            .button {
                width: 244px;
                padding: 14px 32px;
                border: none;
                color: $GrayscaleBlack;
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
            }
        }

        &__tel {
            font-size: 32px;
            color: #fff;
            font-weight: 500;
            line-height: 150%;
            padding-right: 45px;
        }
    }

}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .footer {
        &__container {
            padding-right: 0;
        }

        &__item {

            &__text {
                margin-bottom: 20px;
            }

            flex-direction: column;

            &:last-child {
                flex-direction: row;
            }

            &__form {
                .button {
                    margin-bottom: 80px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        &__container {
            padding-right: 0;
        }

        &__item {

            &__text {
                margin-bottom: 20px;
                font-size: 20px;
            }

            flex-direction: column;

            &__form {
                .button {
                    margin-bottom: 80px;
                }
            }
            &__logo {
                font-size: 24px;
            }
            &__tel {
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .footer {
        &__item {
            &__form {
                input {
                    width: 300px;
                }
            }
        }
    }
}