@import'../variables';

.info {
    background: $PrimaryBlue100;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 0.9fr;
        row-gap: 25px;
        column-gap: 119px;
        padding: 55px 105px 55px 68px;
        margin-bottom: 85px;

        &__item {
            display: flex;
            align-items: center;

            img {
                margin-right: 30px;
            }

            span {
                color: #FFF;
                font-size: 20px;
                font-weight: 500;
                line-height: 150%;
                max-width: 343px;
            }
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        max-width: 634px;
        float: right;


        &__text {
            color: $Grayscale10;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            margin-bottom: 17px;
        }

        &__button {
            color: #fff;
            padding: 14px 32px;
            background: $PrimaryBlue100;
            width: 175px;
            border: none;
        }
    }

}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .info {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 767px) {

    .info {
        &__grid {
            padding: 51px 26px;
            grid-template-columns: 1fr;

            &__item {
                img {
                    width: 70px;
                    height: 70px;
                }

                span {
                    font-size: 16px;
                }
            }
        }

        &__desc {
            &__text {
                font-size: 16px;
            }
        }
    }

}