@import '../variables';

.infr {
    &__span {
        position: relative;
        max-width: 400px;
        margin-bottom: 20px;

        span {
            color: $GrayscaleBlack;
            font-size: 15px;
            font-weight: 500;
            line-height: 150%;
            margin-right: 6px;
        }

        &::after {
            position: absolute;
            content: '';
            top: 10px;
            right: 0;
            width: 65%;
            height: 2px;
            background: #000;
        }
    }

    &__title {
        color: $Grayscale50;
        font-style: 36px;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 45px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 300px;
        margin-bottom: 110px;
        gap: 10px;

        &__item {
            position: relative;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }


            span {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                line-height: 120%;
                max-width: 390px;
                position: absolute;
                bottom: 30px;
                left: 20px;
                z-index: 1;
            }
        }

        &__item1 {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        &__item4 {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            &_610px {
                img{
                    height: 610px;  
                }
                
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .infr {
       
        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);

            &__item4 {
                grid-row-start: 3;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 2;
                height: 610px;
            }

            &__item3 {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 2;
            }

            &__item5 {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .infr {
        &__span {
            span {
                font-size: 12px;
            }
            &::after {
                width: 63%;
            }
        }
        &__title {
            font-size: 20px;
        }
        &__grid {
            display: flex;
            flex-direction: column;

        }

    }
}